# ========================
# Dependencies
# ========================
node_modules/
.pnp/
.pnp.js
.yarn/
.yarn/install-state.gz

# ========================
# Next.js
# ========================
.next/
out/
build/

# ========================
# Logs
# ========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Env files (SEGURANÇA)
# ========================
.env
.env.*
!.env.example

# ========================
# Docker
# ========================
docker-data/
pgdata/

# ========================
# Prisma
# ========================
prisma/generated/
prisma/.env

# ========================
# Tests / Coverage
# ========================
coverage/

# ========================
# Vercel
# ========================
.vercel

# ========================
# TypeScript
# ========================
*.tsbuildinfo
next-env.d.ts

# ========================
# Cert / Keys
# ========================
*.pem
*.key
*.crt

