version: "3.3"

services:

  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: petdb
      POSTGRES_USER: petuser
      POSTGRES_PASSWORD: petpass
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    restart: always    
    env_file:
      - .env.production
    depends_on:
      - db
    ports:
      - "3000:3000"

volumes:
  pgdata:

